body {
	background-color: #29043d;
	text-align: center;
}


  .wow-letter {
	display: inline-block;
	font-family: sans-serif;
	margin-top: 200px;
	color: #fff;
	font-size: 10em;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 
		  -0   -3px 0   rgb(253, 115, 115),
		   0   -3px 0   rgb(253, 115, 115),
		  -0    3px 0   rgb(253, 115, 115),
		   0    3px 0   rgb(253, 115, 115),
		  -3px -0   0   rgb(253, 115, 115),
		   3px -0   0   rgb(253, 115, 115),
		  -3px  0   0   rgb(253, 115, 115),
		   3px  0   0   rgb(253, 115, 115),
		  -1px -3px 0   rgb(253, 115, 115),
		   1px -3px 0   rgb(253, 115, 115),
		  -1px  3px 0   rgb(253, 115, 115),
		   1px  3px 0   rgb(253, 115, 115),
		  -3px -1px 0   rgb(253, 115, 115),
		   3px -1px 0   rgb(253, 115, 115),
		  -3px  1px 0   rgb(253, 115, 115),
		   3px  1px 0   rgb(253, 115, 115),
		  -2px -3px 0   rgb(253, 115, 115),
		   2px -3px 0   rgb(253, 115, 115),
		  -2px  3px 0   rgb(253, 115, 115),
		   2px  3px 0   rgb(253, 115, 115),
		  -3px -2px 0   rgb(253, 115, 115),
		   3px -2px 0   rgb(253, 115, 115),
		  -3px  2px 0   rgb(253, 115, 115),
		   3px  2px 0   rgb(253, 115, 115),
		  -3px -3px 0   rgb(253, 115, 115),
		   3px -3px 0   rgb(253, 115, 115),
		  -3px  3px 0   rgb(253, 115, 115),
		   3px  3px 0   rgb(253, 115, 115),
		  -3px -3px 0   rgb(253, 115, 115),
		   3px -3px 0   rgb(253, 115, 115),
		  -3px  3px 0   rgb(253, 115, 115),
		   3px  3px 0   rgb(253, 115, 115),
	   1px 1px 100px rgb(253, 115, 115),
		0 0 1em rgb(253, 115, 115);
	animation: neon 3s infinite ease-in-out;
  }
  .wow-letter:nth-child(2n) {
	animation-delay: 0.3s;
	animation-duration: 3.5s;
  }
  .wow-letter:nth-child(3n) {
	animation-delay: 0.7s;
	animation-duration: 2.5s;
  }
  .wow-letter:nth-child(4n) {
	animation-delay: 0.2s;
	animation-duration: 3.2s;
  }
  .wow-letter:nth-child(5n) {
	animation-delay: 0.6s;
	animation-duration: 2.8s;
  }
  .wow-letter:nth-child(6n) {
	animation-delay: 0.1s;
	animation-duration: 2.1s;
  }
  
  
  @keyframes neon {
	from {opacity: 1;}
	14% {opacity: 1;}
	15% {opacity: 0;}
	16% {opacity: 1;}
	66%{opacity: 1;}
	67%{opacity: 0;}
	68%{opacity: 1;}
	69%{opacity: 1;}
	70%{opacity: 0;}
	71%{opacity: 1;}
	to {opacity: 1;}
  }